

<style type="text/css">
	
	.day-item{
		height: 100%;
		padding: 5px;
		border-radius: 5%;
		border: 1px solid #0074d9;
	}
	.day-item:hover{
		cursor: pointer;
		color: white;
		background-color: #0074d9;
	}
	.calendario td{
		height: 100%;
		padding: 5px;
		margin: 0px;
	} 

</style>

<div style="margin-left: 15%; margin-right: 15%; margin-top: 20px; background-color: rgb(220,220,220); padding: 20px; box-shadow: 10px 10px 5px #888888; ">
<h1 class="page-header">Calendario de flujo:</h1>
	<select id="indice_mes" onchange="cambiar()">
				<option value="1">Enero</option>
				<option value="2">Febrero</option>
				<option value="3">Marzo</option>
				<option value="4">Abril</option>
				<option value="5">Mayo</option>
				<option value="6">Junio</option>
				<option value="7">Julio</option>
				<option value="8">Agosto</option>
				<option value="9">Septiembre</option>
				<option value="10">Octubre</option>
				<option value="11">Noviembre</option>
				<option value="12">Diciembre</option>
			</select>
	<div style="margin-right: 2%; margin-left: 2%; background-color: white" class="row calendario-section">
  			
	</div>
</div>

<script type="text/javascript">
	$.ajax({
			type: 'GET',
			url: 'render_calendar/'+$("#indice_mes").val(),
			success: function(data){
				$(".calendario-section").html(data);				
			}
		});
	function cambiar(){
		$.ajax({
			type: 'GET',
			url: 'render_calendar/'+$("#indice_mes").val(),
			success: function(data){
				$(".calendario-section").html(data);				
			}
		});
	}


</script>